* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(3, 0, 31);
  color: white;
}

.App {
  min-height: 100dvh;
  display: flex;
}

.sideBar {
  flex: 3;
  border-right: 1px solid rgb(100, 100, 100);
}

.logo {
  margin: 1rem;
  width: auto;
  height: 50px;
}

.brand {
  font: 10rem;
}